<div class="container">
  <h2>TTC Calculator</h2>

  <div class="input-group">
    <label for="priceHT">Prix HT</label>
    <input type="number" id="priceHT" [value]="HT()" [(ngModel)]="HT" />
  </div>

  <div class="input-group">
    <label for="quantity">Quantité</label>
    <input type="number" id="quantity" [value]="quantity()" [(ngModel)]="quantity" />
  </div>

  <div class="input-group">
    <label for="tva">VAT</label>
    <input type="number" id="tva" [value]="VAT()" [(ngModel)]="VAT" />
  </div>

  <div class="result-container">
    <div class="result-box blue">
      <p>Prix unitaire TTC : {{ this.unitTTC() }} </p>
    </div>
    <div class="result-box green">
      <p>Prix total TTC : {{ TTC() }}</p>
    </div>
    <div class="result-box red">
      <p>Discount : {{ discount() }} </p>
    </div>
  </div>
</div>
