<div>Master detail cv works !!</div>
<div class="row">
  <div class="col">
    <div class="alert alert-warning">
      {{ date | date : "full" | uppercase }}
    </div>
    <app-autocomplete></app-autocomplete>
    <div>
      <button (click)="filterCvs('junior')">juniors</button>
      <button (click)="filterCvs('senior')">seniors</button>

    </div>
    <app-list [cvs]="filteredCvs$ |async "></app-list>
    <div class="col">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
<app-embauche></app-embauche>
